<header class="header">
  <div class="header__content">
    <p class="header__text header__text-connect">ПІДКЛЮЧАЙ ЗА 1 грн</p>
    <div class="header__logo-arrow">
      <a href="https://sweet.tv/" class="header__logo-link">
        <img
          src="assets/images/logo.svg"
          class="header__img-logo"
          alt="SweetTV logo"
        />
      </a>
      <img
        src="assets/images/header-arrow.svg"
        class="header__img-arrow"
        alt="SweetTV logo"
      />
      <p class="header__text-get">ОТРИМУЙ</p>
    </div>
    <p class="header__text header__text-iphone">
      <span class="header__text-important">iPhone 13 mini</span> щотижня
    </p>
    <p class="header__text header__text-car">
      <span class="header__text-important">Hyundai i10</span> щомісяця
    </p>
    <a href="#participation" class="header__button">Взяти участь в акції</a>
  </div>
  <img class="header__img-car" alt="Car" src="assets/images/header-car.png" />
</header>
