<footer class="footer">
  <div class="footer__content">
    <div class="footer__top">
      <h2 class="footer__title">
        Залітай в Новий рік на новенькому Hyundai i10!
      </h2>
      <button class="footer__button">Отримати авто</button>
    </div>
    <div class="footer__combine">
      <img
        src="assets/images/footer-car.png"
        alt="Car"
        class="footer__combine-car"
      />
      <img
        src="assets/images/footer-tree.png"
        alt="Tree"
        class="footer__combine-tree"
      />
    </div>
  </div>
  <p class="footer__text">SWEET.TV 2021, Всі права захищені</p>
</footer>
