<main class="main">
  <section class="main__first-section" id="participation">
    <h2 class="main__first-section-title">Як взяти участь в акції?</h2>
    <div class="main__first-section-content">
      <div class="main__first-section-option">
        <p class="main__first-section-option-text">
          <strong> Підключись до SWEET.TV за 1 гривню </strong>
          або на будь який інший платний тариф
          <span class="main__first-section-option-number">1</span>
        </p>
      </div>

      <div class="main__first-section-option">
        <span class="main__first-section-option-number">2</span>
        <p class="main__first-section-option-text">
          <b>Вітаємо! Ти — учасник розіграшів</b> Hyundai i10 щомісяця та iPhone
          13 mini щотижня!
        </p>
      </div>

      <div class="main__first-section-conditions">
        <img
          src="assets/images/conditions.svg"
          alt="conditions"
          class="main__first-section-conditions-img"
        />
        <p class="main__first-section-conditions-text">Повнi умови розiграшу</p>
      </div>
    </div>
  </section>

  <section class="main__second-section">
    <div class="main__second-section-content">
      <div class="main__second-section-content-first">
        <h2 class="main__second-section-title">Вітаємо ти учасник розіграшу</h2>
        <div class="main__second-section-social">
          <div class="main__second-section-social-network">
            <a
              href="https://www.facebook.com/sweet.tv.official/"
              class="main__second-section-social-network-link"
            >
              <img
                src="assets/images/facebook.svg"
                alt="facebook link"
                class="main__second-section-social-network-img"
              />
            </a>
          </div>

          <div class="main__second-section-social-network">
            <a
              href="https://www.instagram.com/sweet.tv/"
              class="main__second-section-social-network-link"
            >
              <img
                src="assets/images/instagram.svg"
                alt="instagram link"
                class="main__second-section-social-network-img"
              />
            </a>
          </div>

          <div class="main__second-section-social-network">
            <a
              href="https://www.youtube.com/c/Sweettvua"
              class="main__second-section-social-network-link"
            >
              <img
                src="assets/images/youtube.svg"
                alt="youtube link"
                class="main__second-section-social-network-img"
              />
            </a>
          </div>
        </div>
        <p class="main__second-section-text">
          Дивись розіграші кожну п'ятницю на офіційніх сторінках SWEET.TV в
        </p>

        <div class="main__second-section-text-links">
          <a
            href="https://instagram.com/"
            class="main__second-section-text-link"
          >
            Instagram,
          </a>
          &nbsp;
          <a
            href="https://facebook.com/"
            class="main__second-section-text-link"
          >
            Facebook,
          </a>
          &nbsp;
          <a href="https://youtube.com/" class="main__second-section-text-link">
            Youtube
          </a>
        </div>
      </div>

      <div class="main__second-section-img-car"></div>
    </div>
  </section>

  <section class="main__third-section">
    <div class="main__third-section-people"></div>

    <div class="main__third-section-content">
      <h2 class="main__third-section-title">Збільшуй свої шанси на виграш</h2>
      <p class="main__third-section-text-referal">
        Чим більше приведеш друзів, тим вища ймовірність твоговиграшу.
      </p>
      <p class="main__third-section-text-message">
        Вiдправити повідомлення з промокодом через:
      </p>

      <div class="main__third-section-promo">
        <div class="main__third-section-promo-field">G1FT8PC8Z6</div>
        <img
          src="assets/images/copy.svg"
          alt="copy icon"
          class="main__third-section-promo-copy"
        />
      </div>

      <div class="main__third-section-social">
        <a href="#" class="main__third-section-social-link">
          <img
            src="assets/images/telegram.svg"
            alt="telegram icon"
            class="main__third-section-social-img"
          />
        </a>

        <a href="#" class="main__third-section-social-link">
          <img
            src="assets/images/viber.svg"
            alt="viber icon"
            class="main__third-section-social-img"
          />
        </a>

        <a href="#" class="main__third-section-social-link">
          <img
            src="assets/images/facebook-square.svg"
            alt="facebook icon"
            class="main__third-section-social-img"
          />
        </a>

        <a href="#" class="main__third-section-social-link">
          <img
            src="assets/images/gmail.svg"
            alt="gmail icon"
            class="main__third-section-social-img"
          />
        </a>
      </div>
    </div>
  </section>

  <section class="main__fourth-section">
    <h2 class="main__fourth-section-title">Як другу активувати промокод?</h2>
    <div class="main__fourth-section-content">
      <div class="main__fourth-section-option">
        <div class="main__fourth-section-option-title">
          <h3 class="main__fourth-section-option-title-text">
            Перейти за посиланням<br />
            у повідомленні
          </h3>
          <span class="main__fourth-section-option-title-number">1</span>
          <a
            href="https://sweet.tv/promo_gift/dfgfdg"
            class="main__fourth-section-option-link"
          >
            https://sweet.tv/promo_gift/dfgfdg
          </a>
        </div>

        <div class="main__fourth-section-option-container">
          <div class="main__fourth-section-option-container-text">
            <p class="main__fourth-section-option-container-text-paragraph">
              🎁 Привіт!<br />
              <strong>Хочеш виграти Hyundai i10 та iPhone 13 mini?</strong
              ><br />
              Підключайся до онлайн-кінотеатру SWEET.TV за промокодом
              <b>ХХХХХ</b>
            </p>
            <ul class="main__fourth-section-option-container-list">
              Як зареєструватися:
              <li class="main__fourth-section-option-container-list-element">
                <img
                  class="main__fourth-section-option-container-redline"
                  src="assets/images/fourth-section-red-line-second-option.svg"
                  alt="red line for text"
                />
                1. Перейди за посиланням нижче👇<br />
                <a
                  href="https://sweet.tv/promo_gift/f2g1h54g"
                  class="main__fourth-section-option-container-list-link"
                >
                  https://sweet.tv/promo_gift/f2g1h54g
                </a>
              </li>
              <li class="main__fourth-section-option-container-list-element">
                2. Натисни на кнопку «Активувати промокод»
              </li>

              <li class="main__fourth-section-option-container-list-element">
                3. Авторизуйся
              </li>

              <li class="main__fourth-section-option-container-list-element">
                4. Підключи тариф за 1 гривню
              </li>
            </ul>
            Все! Ти береш участь у розіграші новенького Hyundai i10 та iPhone 13
            mini від SWEET.TV щотижня😍
          </div>
        </div>
      </div>

      <div class="main__fourth-section-option">
        <div
          class="main__fourth-section-option-title main__fourth-section-option-title-grid"
        >
          <h3 class="main__fourth-section-option-title-text">
            Натиснути на кнопку «Активувати промокод»
          </h3>
          <span class="main__fourth-section-option-title-number">2</span>
        </div>
        <img
          src="assets/images/laptop.png"
          alt="laptop"
          class="main__fourth-section-option-laptop main__fourth-section-option-images-grid"
        />
      </div>

      <div class="main__fourth-section-option">
        <div class="main__fourth-section-option-title">
          <h3 class="main__fourth-section-option-title-text">
            Авторизуватися за номером телефону, Apple ID, Google чи Facebook
          </h3>
          <span class="main__fourth-section-option-title-number">3</span>
        </div>
        <img
          src="assets/images/laptop-second.png"
          alt="laptop"
          class="main__fourth-section-option-laptop"
        />
      </div>

      <div class="main__fourth-section-option">
        <div
          class="main__fourth-section-option-title main__fourth-section-option-title-grid"
        >
          <h3 class="main__fourth-section-option-title-text">
            Активувати тариф за 1 гривню<br />
            чи будь-який інший платний<br />
            тариф
          </h3>
          <span class="main__fourth-section-option-title-number">4</span>
        </div>
        <div
          class="main__fourth-section-option-cards main__fourth-section-option-images-grid"
        >
          <div
            class="main__fourth-section-option-card-first main__fourth-section-option-card"
          >
            <h3 class="main__fourth-section-option-card-title">
              Тариф “М”<br />
              <span class="main__fourth-section-option-card-title-span">
                за 99 грн
              </span>
            </h3>

            <ul
              class="main__fourth-section-option-card-list"
              style="list-style-image: url(/assets/images/check-mark.svg)"
            >
              <li class="main__fourth-section-option-card-list-element">
                260+ телеканалов
              </li>
              <li class="main__fourth-section-option-card-list-element">
                10 000 фильмов и сериалов
              </li>
              <li class="main__fourth-section-option-card-list-element">
                HD и FullHD качество
              </li>
              <li class="main__fourth-section-option-card-list-element">
                пауза, запись и перемотка эфира
              </li>
            </ul>
            <button class="main__fourth-section-option-card-button">
              Подключить
            </button>
          </div>

          <div
            class="main__fourth-section-option-card-second main__fourth-section-option-card"
          >
            <div class="main__fourth-section-option-card-second-block">
              Выгодное<br />
              предложение
            </div>
            <h3 class="main__fourth-section-option-card-title">
              14 дней<br />
              <span
                class="main__fourth-section-option-card-title-span"
                style="color: #15394c"
              >
                за 1 грн
              </span>
            </h3>
            <ul
              class="main__fourth-section-option-card-list"
              style="list-style-image: url(/assets/images/check-mark-white.svg)"
            >
              <li class="main__fourth-section-option-card-list-element">
                260+ телеканалов
              </li>
              <li class="main__fourth-section-option-card-list-element">
                10 000 фильмов и сериалов
              </li>
              <li class="main__fourth-section-option-card-list-element">
                HD и FullHD качество
              </li>
              <li class="main__fourth-section-option-card-list-element">
                пауза, запись и перемотка эфира
              </li>
            </ul>
            <button
              class="main__fourth-section-option-card-button"
              style="background-color: #fff; color: #182936; border: none"
            >
              Подключить
            </button>
          </div>
          <img
            src="assets/images/fourth-section-red-line-fourth-option.svg"
            alt="redline"
            class="main__fourth-section-option-card-redline"
          />
        </div>
      </div>

      <div class="main__fourth-section-option">
        <div class="main__fourth-section-option-title">
          <h3 class="main__fourth-section-option-title-text">
            Готово!<br />
            Ви з другом берете участь<br />
            у розіграші призів🎁
          </h3>
          <span class="main__fourth-section-option-title-number">5</span>
        </div>

        <img src="assets/images/fourth-section-car.png" alt="Car" />
      </div>
    </div>
  </section>

  <section class="main__fives-section">
    <h2 class="main__fives-section-title">Що ти виграєш?</h2>
    <p class="main__fives-section-text">До розіграшу Hyundai i10</p>

    <div class="main__fives-section-timer">
      <div class="main__fives-section-timer-block">
        <span class="main__fives-section-timer-block-number">{{ days }}</span>
        <span class="main__fives-section-timer-block-name">днів</span>
      </div>
      :
      <div class="main__fives-section-timer-block">
        <span class="main__fives-section-timer-block-number">{{ hours }}</span>
        <span class="main__fives-section-timer-block-name">годин</span>
      </div>
      :
      <div class="main__fives-section-timer-block">
        <span class="main__fives-section-timer-block-number">
          {{ minutes }}
        </span>
        <span class="main__fives-section-timer-block-name">хвилин</span>
      </div>
    </div>
    <div class="main__fives-section-people">
      <img
        src="assets/images/fives-section-girl.png"
        alt="Girl"
        class="main__fives-section-people-girl"
      />
      <img
        src="assets/images/fives-section-boy.png"
        alt="Boy"
        class="main__fives-section-people-boy"
      />
      <img
        src="assets/images/fives-section-car.png"
        alt="Car"
        class="main__fives-section-people-car"
      />
    </div>

    <div class="main__fives-section-people-desktop">
      <img
        src="assets/images/fives-section-people-desktop.png"
        alt="people"
        class="main__fives-section-people-desktop-img"
      />
      <img
        src="assets/images/fives-section-car-desktop.png"
        alt="Car"
        class="main__fives-section-people-desktop-car"
      />
      <img
        src="assets/images/name-car.svg"
        alt="Name car"
        class="main__fives-section-people-desktop-car-name"
      />
    </div>
  </section>
</main>
